/sublime_shortcuts.aux
/sublime_shortcuts.fdb_latexmk
/sublime_shortcuts.fls
/sublime_shortcuts.log
/sublime_shortcuts.pdf
/sublime_shortcuts.synctex.gz
/sublime_shortcuts.out
/sublime_shortcuts.sublime-project
/sublime_shortcuts.sublime-workspace
